.menu .subMenu{
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
align-content: flex-start;
height: 100%;
    transform: translateY(-200%);
    opacity: 0;
transition: all ease 0.7s;
margin: 1rem;
position: absolute;
}
.subMenu.show{
    position: static;

transform: translateY(0%);
opacity: 1;
}
.subMenu >.menuitem{
    transform: scale(0.8);

}
.subMenuContainer{
    position: relative;
}
@media (min-width: 992px) { 
    .subMenu{
        display: block !important;
        flex-direction: column;
        flex: 1 1;
        position: absolute !important;
    min-height: 100px;
    height: auto;
    width: 300px;
    background-color: #000;

    }
    
}